<template>
  <div
    class="md:inline-block text-center px-4 py-2 my-2 text-white rounded-full shadow-lg hover:shadow-none cursor-pointer"
    :class="[color, hoverColor]"
    @click="clicked"
  >
    <slot name="default">Bouton</slot>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'bg-gray-600',
    },
    hoverColor: {
      type: String,
      default: 'hover:bg-gray-700',
    },
  },

  methods: {
    clicked() {
      this.$emit('click')
    },
  },
}
</script>

<style></style>
