<template>
  <div class="p-4 border-b flex justify-between">
    <div>
      <h1 class="text-2xl font-bold uppercase leading-none" :class="titleColor">
        {{ name }}
      </h1>
      <a
        :href="pageLink"
        class="text-xs underline leading-none"
        target="_blank"
      >
        Voir page
      </a>
    </div>
    <div>
      <p class="text-xs uppercase">Dernière mise à jour :</p>
      <p class="font-semibold">{{ formattedDate }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Titre',
    },
    pageLink: {
      type: String,
      default: 'http://fakane.blog',
    },
    date: {
      type: String,
      default: 'Il fut un temps',
    },
    titleColor: {
      type: String,
      default: 'text-black',
    },
  },

  data() {
    return {}
  },

  computed: {
    formattedDate() {
      return new Date(this.date).toLocaleString()
    },
  },
}
</script>

<style></style>
