<template>
  <div class="w-full lg:w-1/2 p-6">
    <div
      class="h-full bg-white border-1 border-gray-500 shadow rounded"
      :class="{ 'bg-green-300': available }"
    >
      <BlockTitle
        name="Brack"
        page-link="https://www.brack.ch/fr/sony-console-de-jeu-playstation-5-1088594"
        :date="data.fetchedAt"
        title-color="text-red-600"
      />
      <div class="p-4">
        <table>
          <tbody>
            <tr>
              <td>Stock</td>
              <td class="pl-12 font-bold">{{ data.stock }}</td>
            </tr>
            <tr>
              <td>Commandé</td>
              <td class="pl-12">{{ data.totalOrdered }}</td>
            </tr>
          </tbody>
        </table>
        <p class="mt-2">Détail des commandes</p>
        <table class="ml-6">
          <tbody>
            <tr v-for="(stockDetails, key) in data.stockDetails" :key="key">
              <td>{{ stockDetails.items }}</td>
              <td class="pl-8">{{ stockDetails.date }}</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-4 text-right">
          <BaseButton color="bg-gray-600" hover-color="hover:bg-gray-700">
            Historique
          </BaseButton>
          <BaseButton
            color="bg-blue-600"
            hover-color="hover:bg-blue-700"
            @click="modal = true"
          >
            Code Source
          </BaseButton>
          <BaseButton color="bg-green-600" hover-color="hover:bg-green-700">
            Rafraîchir
          </BaseButton>
        </div>
      </div>
    </div>

    <Modal v-if="modal" @close="modal = false">
      <template #header>Code source de Brack</template>
      <template #content>
        <pre class="text-xs p-2">{{ data.source_code }}</pre>
      </template>
      <template #footer>
        <div
          class="inline-block px-4 py-2 bg-gray-400 rounded"
          @click="modal = false"
        >
          Fermer
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  async fetch() {
    this.data = (
      await this.$strapi.find('bracks', {
        _sort: 'fetchedAt:desc',
        _limit: 1,
      })
    )[0]
  },

  data() {
    return {
      data: {},
      modal: false,
    }
  },

  computed: {
    available() {
      return (
        this.data.stockDetails && this.data.stockDetails[0].date !== 'inconnu'
      )
    },
  },

  mounted() {
    this.timer = setInterval(() => {
      this.refresh()
    }, 180000)
  },

  methods: {
    refresh() {
      this.$fetch()
    },
  },
}
</script>

<style></style>
