<template>
  <div class="w-full border-b p-4">
    <h1 class="text-2xl">
      <span class="font-bold">A nous la PS5 !</span>
      <span class="text-xs">v0.2</span>
    </h1>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
