<template>
  <div class="w-full lg:w-1/2 p-6">
    <div
      class="relative md:h-64 min-h-full bg-white border-1 border-gray-500 shadow rounded"
      :class="{ 'bg-green-300': available }"
    >
      <BlockTitle
        name="Mediamarkt"
        page-link="https://www.mediamarkt.ch/fr/product/_sony-ps-playstation-5-2018096.html"
        :date="data.fetchedAt"
        title-color="text-red-700"
      />
      <div class="p-4">
        <table>
          <tbody>
            <tr>
              <td>Meta tag disponibilité</td>
              <td class="pl-12 font-bold">{{ data.availabilityMetaTag }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="md:absolute bottom-0 right-0 p-4 text-right">
        <BaseButton color="bg-gray-600" hover-color="hover:bg-gray-700">
          Historique
        </BaseButton>
        <BaseButton
          color="bg-blue-600"
          hover-color="hover:bg-blue-700"
          @click="modal = true"
        >
          Code Source
        </BaseButton>
        <BaseButton color="bg-green-600" hover-color="hover:bg-green-700">
          Rafraîchir
        </BaseButton>
      </div>
    </div>
    <Modal v-if="modal" @close="modal = false">
      <template #header>Code source de Mediamarkt</template>
      <template #content>
        <pre class="text-xs p-2">{{ data.source_code }}</pre>
      </template>
      <template #footer>
        <div
          class="inline-block px-4 py-2 bg-gray-400 rounded"
          @click="modal = false"
        >
          Fermer
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  async fetch() {
    this.data = (
      await this.$strapi.find('mediamarkts', {
        _sort: 'fetchedAt:desc',
        _limit: 1,
      })
    )[0]
  },

  data() {
    return {
      data: {},
      modal: false,
    }
  },

  computed: {
    available() {
      return (
        this.data.availabilityMetaTag &&
        this.data.availabilityMetaTag !== 'OutOfStock'
      )
    },
  },
  mounted() {
    this.timer = setInterval(() => {
      this.refresh()
    }, 180000)
  },

  methods: {
    refresh() {
      this.$fetch()
    },
  },
}
</script>

<style></style>
