<template>
  <div
    class="absolute min-h-full top-0 left-0 right-0 z-40 bg-black bg-opacity-25"
    @click.self="closeModal"
  >
    <div
      class="relative z-50 max-w-screen-full m-16 overflow-hidden bg-white rounded-lg shadow"
    >
      <div class="p-6 text-2xl font-bold border-b border-gray-300">
        <slot name="header">Titre</slot>
      </div>
      <div class="">
        <slot name="content">Contenu</slot>
      </div>
      <div class="p-6 bg-gray-200">
        <slot name="footer">Footer</slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$emit('on-open')
  },
  methods: {
    closeModal() {
      this.$emit('close')
    },
  },
}
</script>

<style></style>
