<template>
  <div class="w-full lg:w-1/2 p-6">
    <div
      class="h-full bg-white border-1 border-gray-500 shadow rounded"
      :class="{ 'bg-green-300': available }"
    >
      <BlockTitle
        name="Qoqa"
        page-link="https://www.qoqa.ch/fr/"
        :date="data.createdAt"
        title-color="text-red-200"
      />
      <div class="p-4">
        <table>
          <tbody>
            <tr>
              <td>Stock</td>
              <td class="pl-12 font-bold">{{ data.available }}</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-4 text-right">
          <BaseButton color="bg-gray-600" hover-color="hover:bg-gray-700">
            Historique
          </BaseButton>
          <BaseButton color="bg-green-600" hover-color="hover:bg-green-700">
            Rafraîchir
          </BaseButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async fetch() {
    this.data = (
      await this.$strapi.find('qoqas', {
        _sort: 'fetchedAt:desc',
        _limit: 1,
      })
    )[0]
  },

  data() {
    return {
      data: {},
      modal: false,
    }
  },

  computed: {
    available() {
      return this.data.available
    },
  },

  mounted() {
    this.timer = setInterval(() => {
      this.refresh()
    }, 180000)
  },

  methods: {
    refresh() {
      this.$fetch()
    },
  },
}
</script>

<style></style>
