<template>
  <div class="flex flex-wrap">
    <BrackBlock />
    <DigitecBlock />
    <MicrospotBlock />
    <MelectronicsBlock />
    <MediamarktBlock />
    <QoqaBlock />
  </div>
</template>

<script>
export default {}
</script>
